* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#profile h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

#twitter {
  margin: 1rem 0 0 0;
}

#slack {
  display: none;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}

#links a {
  background: #EAECF0;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 1rem ;
  width: 100%;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}

#icons {
  display: flex;
  gap: 1.4rem;
  margin-top: 1rem;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0 0;
  border-top: 1px solid #EAECF0;
  padding: 1rem 0;
}

#footer p {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #container{
    width: 95%;
  }

  #links {
    width: 95%;
  }

  #links a {
    font-size: 14px;
  }

  #icons {
    display: none;
  }

  #footer {
    display: none;
  }
}