* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#twitter {
  margin: 1rem 0 0 0;
}

#slack {
  display: none;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}

#links a {
  background: #f6f6f6;
  text-decoration: none;
  color: #000;
  padding: 1rem ;
  width: 100%;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}